

.App {
  // text-align: center;
}

.grid {
  display: grid;
  grid-template-rows: repeat(3, auto);
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #222;
  align-items: center;
  height: 50px;
  position: fixed;
  width: 100%;
  top:0;
  z-index: 1;
}

footer {
  left: 0;
  bottom: 0;
  width:100%;
  background-color: #222;
  color: white;
  text-align: center;
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.cover-image {
  display: grid;
  
  grid-area: 1/1/-1/-1;
  z-index: -1;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: 0% 85%;
  
}

main {
  grid-area: 1/2/2/3;
  padding: 35% 0%;
  position: 'absolute';
  top: 50%;
  left: 50%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
  padding: 30px;

}
.App-nav {
  padding: 20px;
  color: white;
}

.header-links li {
  font-size: 1em;
  list-style-type: none;
  margin: 0;
  font-weight: bold;
  display: inline-flex;
}

.header-links li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  display: inline-flex;
  padding: 10px;
  
}


.project-image {
  height: 250px;
  width: 250px;
  border-radius: 60%;
  box-shadow: 0 0 25px black;
}

.each-project {
  padding: 10%;
  text-align: center;
  
}

.project-list {
  display: flex; 
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 5%;
}

.project-detail {
  text-align: center;
}

.project-title {
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(360deg); }
}

.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}