

.App {
  // text-align: center;
}

.grid {
  display: grid;
  grid-template-rows: repeat(3, auto);
  height: 100vh;
}

header {
  grid-area: 1/1/2/-1;
  display: flex;
  justify-content: space-between;
  background-color: #222;
  align-items: center;
  height: 50px;
}

.cover-image {
  grid-area: 1/1/-1/-1;
  opacity: 0.8;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
  
}

main {
  grid-area: 2/1/3/-1;
  padding: 0 30%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
  padding: 30px;

}
.App-nav {
  padding: 20px;
  color: white;
}

.header-links li {
  font-size: 1em;
  display: inline-block;
  list-style-type: none;
  margin: 0;
}

.header-links li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}


.project-image {
  height: 200px;
  width: 200px;
  border-radius: 50%;

}
.project-list {
  display: flex; 
  justify-content: space-around;
}

@keyframes App-logo-spin {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(360deg); }
}
